Intrusion Detection Machine Learn


Fabio Teixeira Ramos

    2020367


A Report Submitted in Partial Fulfilment 
of the requirements for the 
Degree of 
BSc in Computing in IT (4th year)



 

May 2024



Supervisor: Muhammad Iqbal

In [13]:
# Importing necessary libraries
import numpy as np  # NumPy is a library for numerical and array-based computing in Python
import pandas as pd  # Pandas is a library for data manipulation and analysis in Python
import os  # The 'os' library provides functions for interacting with the operating system
import matplotlib.pyplot as plt
import seaborn as sns
# Iterate over all files in the specified directory 'Intrusion detection1'
for dirname, _, filenames in os.walk('Intrusion detection1'):  
    # 'os.walk' generates a list of directories and files within the specified directory
    # 'dirname' represents the current directory name in the iteration
    # '_' is a placeholder for subdirectories (if not used, it's common to use '_' to indicate it's ignored)
    # 'filenames' is a list of file names in the current directory
    
    # Loop through each file name in the 'filenames' list
    for filename in filenames:
        # Join the directory name and file name to create the full file path
        file_path = os.path.join(dirname, filename)
        
        # Print the full file path
        print(file_path)  # This prints the complete path to each file in the 'Intrusion detection1' directory

In [ ]:
import warnings
# Suppress all warnings
warnings.filterwarnings("ignore")  # This command disables all warnings, making your code output cleaner

In [14]:
#Run the csv files.  
import os
for dirname, _, filenames in os.walk('Intrusion detection1'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

Intrusion detection1\Day-02-14-2018.csv
Intrusion detection1\Day-02-15-2018.csv
Intrusion detection1\Day-02-16-2018.csv
Intrusion detection1\Day-02-20-2018.csv
Intrusion detection1\Day-02-21-2018.csv
Intrusion detection1\Day-02-22-2018.csv
Intrusion detection1\Day-02-23-2018.csv
Intrusion detection1\Day-02-28-2018.csv
Intrusion detection1\Day-03-01-2018.csv
Intrusion detection1\Day-03-02-2018.csv

In [15]:
# Read CSV files from specified directory
# The 'low_memory=False' parameter helps to optimize memory usage, especially with mixed data types
# The 'nrows=1000' parameter specifies that only the first 1000 rows of each CSV file will be read

# Read the first 1000 rows from CSV files on different dates
df1 = pd.read_csv("Intrusion detection1\Day-02-14-2018.csv", low_memory=False, nrows=100000)
df2 = pd.read_csv("Intrusion detection1\Day-02-15-2018.csv", low_memory=False, nrows=100000)
df3 = pd.read_csv("Intrusion detection1\Day-02-16-2018.csv", low_memory=False, nrows=100000)
df4 = pd.read_csv("Intrusion detection1\Day-02-20-2018.csv", low_memory=False, nrows=100000)
df5 = pd.read_csv("Intrusion detection1\Day-02-21-2018.csv", low_memory=False, nrows=100000)
#df6 = pd.read_csv("Intrusion detection1\Day-02-22-2018.csv", low_memory=False, nrows=100000)
#df7 = pd.read_csv("Intrusion detection1\Day-02-23-2018.csv", low_memory=False, nrows=100000)
#df8 = pd.read_csv("Intrusion detection1\Day-02-28-2018.csv", low_memory=False, nrows=1000)
df9 = pd.read_csv("Intrusion detection1\Day-03-01-2018.csv", low_memory=False, nrows=100000)
#df10 = pd.read_csv("Intrusion detection1\Day-03-02-2018.csv", low_memory=False, nrows=1000)

In [4]:
df4.head()

,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,172.31.69.25-94.231.103.172-22-45498-6,94.231.103.172,45498,172.31.69.25,22,6,20/02/2018 08:34:07,888751,11,11,...,32,0,0,0,0,0.0,0.000000,0.0,0.0,Benign
1,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:33:22,112642816,3,0,...,0,0,0,0,0,56300000.0,7.071068,56300000.0,56300000.0,Benign
2,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:36:11,112642712,3,0,...,0,0,0,0,0,56300000.0,18.384776,56300000.0,56300000.0,Benign
3,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:39:00,112642648,3,0,...,0,0,0,0,0,56300000.0,5.656854,56300000.0,56300000.0,Benign
4,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:41:49,112642702,3,0,...,0,0,0,0,0,56300000.0,65.053824,56300000.0,56300000.0,Benign

"After checking all ten dataframes, the conclusion was that the columns 'Flow ID', 'Src IP', 'Src Port', and 'Dst IP' should be drop from dataframe df04."

In [5]:
df4.drop(columns=['Flow ID', 'Src IP', 'Src Port', 'Dst IP'], axis=1,inplace=True)

In [6]:
def fix_data(df):
    # Primeiro, remova linhas indesejadas
    df = df[df['Dst Port'] != 'Dst Port']

    # Data type mapping, grouped by data type.
    type_mapping = {
        'int': [
            'Dst Port', 'Protocol', 'Flow Duration', 'Tot Fwd Pkts', 'Tot Bwd Pkts',
            'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max', 'Fwd Pkt Len Min',
            'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Flow IAT Max', 'Flow IAT Min',
            'Fwd IAT Tot', 'Fwd IAT Max', 'Fwd IAT Min', 'Bwd IAT Tot', 'Bwd IAT Max',
            'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags', 
            'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Pkt Len Min', 
            'Pkt Len Max', 'FIN Flag Cnt', 'SYN Flag Cnt', 'RST Flag Cnt', 
            'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt', 'CWE Flag Count', 
            'ECE Flag Cnt', 'Down/Up Ratio', 'Fwd Byts/b Avg', 'Fwd Pkts/b Avg', 
            'Fwd Blk Rate Avg', 'Bwd Byts/b Avg', 'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg',
            'Subflow Fwd Pkts', 'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
            'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts', 
            'Fwd Seg Size Min', 'Active Max', 'Active Min', 'Idle Max', 'Idle Min'
        ],
        'float': [
            'Fwd Pkt Len Mean', 'Fwd Pkt Len Std', 'Bwd Pkt Len Mean', 'Bwd Pkt Len Std',
            'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean', 'Flow IAT Std', 'Fwd IAT Mean',
            'Fwd IAT Std', 'Bwd IAT Mean', 'Bwd IAT Std', 'Fwd Pkts/s', 'Bwd Pkts/s', 
            'Pkt Len Mean', 'Pkt Len Std', 'Pkt Len Var', 'Pkt Size Avg', 'Fwd Seg Size Avg',
            'Bwd Seg Size Avg', 'Active Mean', 'Active Std', 'Idle Mean', 'Idle Std'
        ]
    }

    # Converte todos os grupos de colunas para o tipo especificado
    for data_type, columns in type_mapping.items():
        df[columns] = df[columns].astype(data_type)

    return df

In [7]:
# Apply the 'fix_data' function to each of the DataFrames
df1 = fix_data(df1)  # Apply data-fixing function to 'df1'
df2 = fix_data(df2)  # Apply data-fixing function to 'df2'
df3 = fix_data(df3)  # Apply data-fixing function to 'df3'
df4 = fix_data(df4)  # Apply data-fixing function to 'df4'
df5 = fix_data(df5)  # Apply data-fixing function to 'df5'
#df6 = fix_data(df6)  # Apply data-fixing function to 'df6'
#df7 = fix_data(df7)  # Apply data-fixing function to 'df7'
#df8 = fix_data(df8)  # Apply data-fixing function to 'df8'
df9 = fix_data(df9)  # Apply data-fixing function to 'df9'
#df10 = fix_data(df10)  # Apply data-fixing function to 'df10'

In [8]:
def drop_infinite_null(df):
    # Print the initial shape of the DataFrame
    print("Initial shape:", df.shape)  # Output the shape (rows, columns) before processing

    # Step 1: Replace textual representations of infinity with numerical infinity
    df = df.replace(["Infinity", "infinity"], np.inf)  # Convert text 'Infinity' to numpy's infinity

    # Step 2: Replace all infinite values with NaN (Not a Number)
    df = df.replace([np.inf, -np.inf], np.nan)  # Convert positive/negative infinity to NaN

    # Step 3: Drop rows with any NaN values
    df.dropna(inplace=True)  # In-place removal of rows with NaN values

    # Print the shape after dropping NaN values
    print("Final shape:", df.shape)  # Output the shape after processing
    
    return df  # Return the cleaned DataFrame

In [9]:
# Apply 'drop_infinite_null' to each DataFrame to handle infinity and NaN values
df1 = drop_infinite_null(df1)  # Process 'df1'
df2 = drop_infinite_null(df2)  # Process 'df2'
df3 = drop_infinite_null(df3)  # Process 'df3'
df4 = drop_infinite_null(df4)  # Process 'df4'
df5 = drop_infinite_null(df5)  # Process 'df5'
#df6 = drop_infinite_null(df6)  # Process 'df6'
#df7 = drop_infinite_null(df7)  # Process 'df7'
#df8 = drop_infinite_null(df8)  # Process 'df8'
df9 = drop_infinite_null(df9)  # Process 'df9'
#df10 = drop_infinite_null(df10)  # Process 'df10'

(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(978, 80)
(999, 80)
(977, 80)
(1000, 80)
(974, 80)

In [12]:
def drop_unnecessary_column(df):
    # Step 1: Drop the 'Timestamp' column from the DataFrame
    df.drop(columns="Timestamp", inplace=True)  # 'inplace=True' modifies 'df' directly

    # Step 2: Print the new shape of the DataFrame
    print("New shape after dropping 'Timestamp':", df.shape)  # Output the shape (rows, columns) after dropping the column
    
    # Step 3: Return the modified DataFrame
    return df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 80 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Dst Port           1000 non-null   int32
 1   Protocol           1000 non-null   int32
 2   Timestamp          1000 non-null   object
 3   Flow Duration      1000 non-null   int32
 4   Tot Fwd Pkts       1000 non-null   int32
 5   Tot Bwd Pkts       1000 non-null   int32
 6   TotLen Fwd Pkts    1000 non-null   int32
 7   TotLen Bwd Pkts    1000 non-null   int32
 8   Fwd Pkt Len Max    1000 non-null   int32
 9   Fwd Pkt Len Min    1000 non-null   int32
 10  Fwd Pkt Len Mean   1000 non-null   float64
 11  Fwd Pkt Len Std    1000 non-null   float64
 12  Bwd Pkt Len Max    1000 non-null   int32
 13  Bwd Pkt Len Min    1000 non-null   int32
 14  Bwd Pkt Len Mean   1000 non-null   float64
 15  Bwd Pkt Len Std    1000 non-null   float64
 16  Flow Byts/s        1000 non-null   float64
 17  Flow Pkts/s        1000 non-null   float64
 18  Flow IAT Mean      1000 non-null   float64
 19  Flow IAT Std       1000 non-null   float64
 20  Flow IAT Max       1000 non-null   int32
 21  Flow IAT Min       1000 non-null   int32
 22  Fwd IAT Tot        1000 non-null   int32
 23  Fwd IAT Mean       1000 non-null   float64
 24  Fwd IAT Std        1000 non-null   float64
 25  Fwd IAT Max        1000 non-null   int32
 26  Fwd IAT Min        1000 non-null   int32
 27  Bwd IAT Tot        1000 non-null   int32
 28  Bwd IAT Mean       1000 non-null   float64
 29  Bwd IAT Std        1000 non-null   float64
 30  Bwd IAT Max        1000 non-null   int32
 31  Bwd IAT Min        1000 non-null   int32
 32  Fwd PSH Flags      1000 non-null   int32
 33  Bwd PSH Flags      1000 non-null   int32
 34  Fwd URG Flags      1000 non-null   int32
 35  Bwd URG Flags      1000 non-null   int32
 36  Fwd Header Len     1000 non-null   int32
 37  Bwd Header Len     1000 non-null   int32
 38  Fwd Pkts/s         1000 non-null   float64
 39  Bwd Pkts/s         1000 non-null   float64
 40  Pkt Len Min        1000 non-null   int32
 41  Pkt Len Max        1000 non-null   int32
 42  Pkt Len Mean       1000 non-null   float64
 43  Pkt Len Std        1000 non-null   float64
 44  Pkt Len Var        1000 non-null   float64
 45  FIN Flag Cnt       1000 non-null   int32
 46  SYN Flag Cnt       1000 non-null   int32
 47  RST Flag Cnt       1000 non-null   int32
 48  PSH Flag Cnt       1000 non-null   int32
 49  ACK Flag Cnt       1000 non-null   int32
 50  URG Flag Cnt       1000 non-null   int32
 51  CWE Flag Count     1000 non-null   int32
 52  ECE Flag Cnt       1000 non-null   int32
 53  Down/Up Ratio      1000 non-null   int32
 54  Pkt Size Avg       1000 non-null   float64
 55  Fwd Seg Size Avg   1000 non-null   float64
 56  Bwd Seg Size Avg   1000 non-null   float64
 57  Fwd Byts/b Avg     1000 non-null   int32
 58  Fwd Pkts/b Avg     1000 non-null   int32
 59  Fwd Blk Rate Avg   1000 non-null   int32
 60  Bwd Byts/b Avg     1000 non-null   int32
 61  Bwd Pkts/b Avg     1000 non-null   int32
 62  Bwd Blk Rate Avg   1000 non-null   int32
 63  Subflow Fwd Pkts   1000 non-null   int32
 64  Subflow Fwd Byts   1000 non-null   int32
 65  Subflow Bwd Pkts   1000 non-null   int32
 66  Subflow Bwd Byts   1000 non-null   int32
 67  Init Fwd Win Byts  1000 non-null   int32
 68  Init Bwd Win Byts  1000 non-null   int32
 69  Fwd Act Data Pkts  1000 non-null   int32
 70  Fwd Seg Size Min   1000 non-null   int32
 71  Active Mean        1000 non-null   float64
 72  Active Std         1000 non-null   float64
 73  Active Max         1000 non-null   int32
 74  Active Min         1000 non-null   int32
 75  Idle Mean          1000 non-null   float64
 76  Idle Std           1000 non-null   float64
 77  Idle Max           1000 non-null   int32
 78  Idle Min           1000 non-null   int32
 79  Label              1000 non-null   object
dtypes: float64(24), int32(54), object(2)
memory usage: 421.9+ KB

In [ ]:
# Apply 'drop_unnecessary_column' to each DataFrame to remove the 'Timestamp' column
df1 = drop_unnecessary_column(df1)  # Remove 'Timestamp' from 'df1'
df2 = drop_unnecessary_column(df2)  # Remove 'Timestamp' from 'df2'
df3 = drop_unnecessary_column(df3)  # Remove 'Timestamp' from 'df3'
df4 = drop_unnecessary_column(df4)  # Remove 'Timestamp' from 'df4'
df5 = drop_unnecessary_column(df5)  # Remove 'Timestamp' from 'df5'
#df6 = drop_unnecessary_column(df6)  # Remove 'Timestamp' from 'df6'
#df7 = drop_unnecessary_column(df7)  # Remove 'Timestamp' from 'df7'
#df8 = drop_unnecessary_column(df8)  # Remove 'Timestamp' from 'df8'
df9 = drop_unnecessary_column(df9)  # Remove 'Timestamp' from 'df9'
#df10 = drop_unnecessary_column(df10)  # Remove 'Timestamp' from 'df10'

In [ ]:
# List of DataFrames to be combined
dfs = [df1, df2, df3,df4, df5,   df9 ] #df4,df8,df7,df6, df10  ]  # List of 10 DataFrames

# Concatenate all DataFrames into one
combined_df = pd.concat(dfs, ignore_index=True)  # Concatenates DataFrames and resets the index