Intrusion Detection Machine Learn


Fabio Teixeira Ramos

    2020367


A Report Submitted in Partial Fulfilment 
of the requirements for the 
Degree of 
BSc in Computing in IT (4th year)



 

May 2024



Supervisor: Muhammad Iqbal

In [29]:
#Import libraries.
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [30]:
#Run the csv files.  
import os
for dirname, _, filenames in os.walk('Intrusion detection1'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

Intrusion detection1\Day-02-14-2018.csv
Intrusion detection1\Day-02-15-2018.csv
Intrusion detection1\Day-02-16-2018.csv
Intrusion detection1\Day-02-20-2018.csv
Intrusion detection1\Day-02-21-2018.csv
Intrusion detection1\Day-02-22-2018.csv
Intrusion detection1\Day-02-23-2018.csv
Intrusion detection1\Day-02-28-2018.csv
Intrusion detection1\Day-03-01-2018.csv
Intrusion detection1\Day-03-02-2018.csv

In [31]:
df1 = pd.read_csv("Intrusion detection1\Day-02-14-2018.csv", low_memory=False, nrows=1000)
df2 = pd.read_csv("Intrusion detection1\Day-02-15-2018.csv", low_memory=False, nrows=1000)
df3 = pd.read_csv("Intrusion detection1\Day-02-16-2018.csv", low_memory=False, nrows=1000)
df4 = pd.read_csv("Intrusion detection1\Day-02-20-2018.csv", low_memory=False, nrows=1000)
df5 = pd.read_csv("Intrusion detection1\Day-02-21-2018.csv", low_memory=False, nrows=1000)
df6 = pd.read_csv("Intrusion detection1\Day-02-22-2018.csv", low_memory=False, nrows=1000)
df7 = pd.read_csv("Intrusion detection1\Day-02-23-2018.csv", low_memory=False, nrows=1000)
df8 = pd.read_csv("Intrusion detection1\Day-02-28-2018.csv", low_memory=False, nrows=1000)
df9 = pd.read_csv("Intrusion detection1\Day-03-01-2018.csv", low_memory=False, nrows=1000)
df10 = pd.read_csv("Intrusion detection1\Day-03-02-2018.csv", low_memory=False, nrows=1000)

In [32]:
df4.head()

,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,172.31.69.25-94.231.103.172-22-45498-6,94.231.103.172,45498,172.31.69.25,22,6,20/02/2018 08:34:07,888751,11,11,...,32,0,0,0,0,0.0,0.000000,0.0,0.0,Benign
1,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:33:22,112642816,3,0,...,0,0,0,0,0,56300000.0,7.071068,56300000.0,56300000.0,Benign
2,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:36:11,112642712,3,0,...,0,0,0,0,0,56300000.0,18.384776,56300000.0,56300000.0,Benign
3,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:39:00,112642648,3,0,...,0,0,0,0,0,56300000.0,5.656854,56300000.0,56300000.0,Benign
4,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:41:49,112642702,3,0,...,0,0,0,0,0,56300000.0,65.053824,56300000.0,56300000.0,Benign

"After checking all ten dataframes, the conclusion was that the columns 'Flow ID', 'Src IP', 'Src Port', and 'Dst IP' should be drop from dataframe df04."

In [33]:
df4.drop(columns=['Flow ID', 'Src IP', 'Src Port', 'Dst IP'], axis=1,inplace=True)

In [35]:
def fix_data(df):
    # Primeiro, remova linhas indesejadas
    df = df[df['Dst Port'] != 'Dst Port']

    # Data type mapping, grouped by data type.
    type_mapping = {
        'int': [
            'Dst Port', 'Protocol', 'Flow Duration', 'Tot Fwd Pkts', 'Tot Bwd Pkts',
            'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max', 'Fwd Pkt Len Min',
            'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Flow IAT Max', 'Flow IAT Min',
            'Fwd IAT Tot', 'Fwd IAT Max', 'Fwd IAT Min', 'Bwd IAT Tot', 'Bwd IAT Max',
            'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags', 
            'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Pkt Len Min', 
            'Pkt Len Max', 'FIN Flag Cnt', 'SYN Flag Cnt', 'RST Flag Cnt', 
            'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt', 'CWE Flag Count', 
            'ECE Flag Cnt', 'Down/Up Ratio', 'Fwd Byts/b Avg', 'Fwd Pkts/b Avg', 
            'Fwd Blk Rate Avg', 'Bwd Byts/b Avg', 'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg',
            'Subflow Fwd Pkts', 'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
            'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts', 
            'Fwd Seg Size Min', 'Active Max', 'Active Min', 'Idle Max', 'Idle Min'
        ],
        'float': [
            'Fwd Pkt Len Mean', 'Fwd Pkt Len Std', 'Bwd Pkt Len Mean', 'Bwd Pkt Len Std',
            'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean', 'Flow IAT Std', 'Fwd IAT Mean',
            'Fwd IAT Std', 'Bwd IAT Mean', 'Bwd IAT Std', 'Fwd Pkts/s', 'Bwd Pkts/s', 
            'Pkt Len Mean', 'Pkt Len Std', 'Pkt Len Var', 'Pkt Size Avg', 'Fwd Seg Size Avg',
            'Bwd Seg Size Avg', 'Active Mean', 'Active Std', 'Idle Mean', 'Idle Std'
        ]
    }

    # Converte todos os grupos de colunas para o tipo especificado
    for data_type, columns in type_mapping.items():
        df[columns] = df[columns].astype(data_type)

    return df

In [36]:
df1 = fix_data(df1)
df2 = fix_data(df2)
df3 = fix_data(df3)
df4 = fix_data(df4)
df5 = fix_data(df5)
df6 = fix_data(df6)
df7 = fix_data(df7)
df8 = fix_data(df8)
df9 = fix_data(df9)
df10 = fix_data(df10)

In [37]:
def drop_infinate_null(df):
    print (df.shape)

    # replace infinity value as null value
    df = df.replace(["Infinity", "infinity"], np.inf)
    df = df.replace([np.inf, -np.inf], np.nan)

    # drop all null values
    df.dropna(inplace=True)

    print (df.shape)
    
    return df

In [38]:
df1 = drop_infinate_null(df1)
df2 = drop_infinate_null(df2)
df3 = drop_infinate_null(df3)
df4 = drop_infinate_null(df4)
df5 = drop_infinate_null(df5)
df6 = drop_infinate_null(df6)
df7 = drop_infinate_null(df7)
df8 = drop_infinate_null(df8)
df9 = drop_infinate_null(df9)
df10 = drop_infinate_null(df10)

(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(1000, 80)
(978, 80)
(999, 80)
(977, 80)
(1000, 80)
(974, 80)