Intrusion Detection Machine Learn


Fabio Teixeira Ramos

    2020367


A Report Submitted in Partial Fulfilment 
of the requirements for the 
Degree of 
BSc in Computing in IT (4th year)



 

May 2024



Supervisor: Muhammad Iqbal

In [24]:
#Import libraries.
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [25]:
#Run the csv files.  
import os
for dirname, _, filenames in os.walk('Intrusion detection1'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

Intrusion detection1\Day-02-14-2018.csv
Intrusion detection1\Day-02-15-2018.csv
Intrusion detection1\Day-02-16-2018.csv
Intrusion detection1\Day-02-20-2018.csv
Intrusion detection1\Day-02-21-2018.csv
Intrusion detection1\Day-02-22-2018.csv
Intrusion detection1\Day-02-23-2018.csv
Intrusion detection1\Day-02-28-2018.csv
Intrusion detection1\Day-03-01-2018.csv
Intrusion detection1\Day-03-02-2018.csv

In [26]:
df1 = pd.read_csv("Intrusion detection1\Day-02-14-2018.csv", low_memory=False, nrows=1000)
df2 = pd.read_csv("Intrusion detection1\Day-02-15-2018.csv", low_memory=False, nrows=1000)
df3 = pd.read_csv("Intrusion detection1\Day-02-16-2018.csv", low_memory=False, nrows=1000)
df4 = pd.read_csv("Intrusion detection1\Day-02-20-2018.csv", low_memory=False, nrows=1000)
df5 = pd.read_csv("Intrusion detection1\Day-02-21-2018.csv", low_memory=False, nrows=1000)
df6 = pd.read_csv("Intrusion detection1\Day-02-22-2018.csv", low_memory=False, nrows=1000)
df7 = pd.read_csv("Intrusion detection1\Day-02-23-2018.csv", low_memory=False, nrows=1000)
df8 = pd.read_csv("Intrusion detection1\Day-02-28-2018.csv", low_memory=False, nrows=1000)
df9 = pd.read_csv("Intrusion detection1\Day-03-01-2018.csv", low_memory=False, nrows=1000)
df10 = pd.read_csv("Intrusion detection1\Day-03-02-2018.csv", low_memory=False, nrows=1000)

In [27]:
df4.head()

,Flow ID,Src IP,Src Port,Dst IP,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,172.31.69.25-94.231.103.172-22-45498-6,94.231.103.172,45498,172.31.69.25,22,6,20/02/2018 08:34:07,888751,11,11,...,32,0,0,0,0,0.0,0.000000,0.0,0.0,Benign
1,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:33:22,112642816,3,0,...,0,0,0,0,0,56300000.0,7.071068,56300000.0,56300000.0,Benign
2,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:36:11,112642712,3,0,...,0,0,0,0,0,56300000.0,18.384776,56300000.0,56300000.0,Benign
3,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:39:00,112642648,3,0,...,0,0,0,0,0,56300000.0,5.656854,56300000.0,56300000.0,Benign
4,8.0.6.4-8.6.0.1-0-0-0,8.6.0.1,0,8.0.6.4,0,0,20/02/2018 08:41:49,112642702,3,0,...,0,0,0,0,0,56300000.0,65.053824,56300000.0,56300000.0,Benign

"After checking all ten dataframes, the conclusion was that the columns 'Flow ID', 'Src IP', 'Src Port', and 'Dst IP' should be drop from dataframe df04."

In [28]:
df4.drop(columns=['Flow ID', 'Src IP', 'Src Port', 'Dst IP'], axis=1,inplace=True)